@{
    ViewData["Title"] = "Home";
}

<main class="container">
    <article class="post">
        <h2>Cartilla Areas de Conservación Arqueologica de Soacha</h2>
        <p>Esta cartilla fue realizada en el marco de la convocatoria de estímulos SUARTE 2024 realizada por la Alcaldía Municipal de Soacha desde la división de Cultura y Turismo.</p>
        <div class="align-content-lg-center">
            <div class="col-xs-12 col-sm-6 col-lg-1">
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-5 align-items-center">
                <img src="/img/cartilla.jpg" width="180" height="125">
            </div>
        </div>
         <div class="row">
            <div class="col-xs-12 col-sm-6 col-lg-1">
             
            </div>
                <div class="col-xs-12 col-sm-6 col-lg-3">
                    <a href="https://www.calameo.com/read/0078438963da52d01c809?authid=edTVAjg8e3TT">Ver Cartilla</a>
                </div>
          </div>
    
    </article>

  
</main>

@* <footer>
    <p>Todos los derechos reservados.</p>
</footer> *@