@{
    ViewData["Title"] = "Home";
}

<div class="blog">

    <article class="post">

        <div class="post-header">
            <h2 class="post-title">Cartilla Areas de Conservación Arqueologica de Soacha</h2>
        </div>

        <div class="post-body">
            <p>
                Esta cartilla fue realizada en el marco de la convocatoria de estímulos SUARTE 2024 realizada por la Alcaldía Municipal de Soacha desde la división de Cultura y Turismo.
            </p>
        </div>

        <div class="post-image">
            <a href="https://www.calameo.com/read/0078438963da52d01c809?authid=edTVAjg8e3TT" target="_blank">
                <img src="/img/cartilla.jpg" class="img-fluid" />
            </a>
        </div>
        <div class="post-footer">
            <a class="post-link" href="https://www.calameo.com/read/0078438963da52d01c809?authid=edTVAjg8e3TT">
                Ver Cartilla
            </a>
        </div>

    </article>

    <article class="post">

        <div class="post-header">
            <h2 class="post-title">
                Arte Rupestre y Apropiación Patrimonial en Soacha: reflexiones desde un estudio de caso
            </h2>
        </div>

        <div class="post-body">
            <p>
                Este artículo presenta las reflexiones y aprendizajes surgidos a partir de la experiencia de realizar un informe de investigación sobre áreas de conservación arqueologicas en Soacha entendido desde la arqueología del paisaje.
            </p>
        </div>

        <div class="post-image">
            <a href="/docs/arte-rupestre.pdf" target="_blank">
                <img src="/img/arte-rupestre-pagina-1.jpg" class="img-fluid" />
            </a>
        </div>

        <div class="post-footer">
            <a href="/docs/arte-rupestre.pdf" target="_blank" class="post-link">
                Ver artículo completo
            </a>
        </div>

    </article>


    <article class="post">

        <div class="post-header">
            <h2 class="post-title">
                Aproximación y caracterización morfoestilística de una colección de cerámica arqueológica descontextualizada.
            </h2>
        </div>

        <div class="post-body">
            <p>
                La presente investigación aborda el análisis de una colección de diez piezas cerámicas
                arqueológicas descontextualizadas, custodiadas actualmente por el Laboratorio de Arqueología
                Ceramoteca de la Universidad Nacional de Colombia. Ante la ausencia de información
                estratigráfica y de procedencia geográfica, este trabajo plantea la interrogante sobre el potencial
                informativo de la materialidad como fuente primaria para la inferencia arqueológica.
            </p>
        </div>

        <div class="post-image">
            <a href="/docs/tesis-sebas.pdf" target="_blank">
                <img src="/img/tesis-sebas-pagina-1.jpg" class="img-fluid" />
            </a>
        </div>

        <div class="post-footer">
            <a href="/docs/tesis-sebas.pdf" target="_blank" class="post-link">
                Ver artículo completo
            </a>
        </div>

    </article>


</div>