@{
    ViewData["Title"] = "Sobre mí";
}

<div class="blog">

    <article class="post">

        <div class="post-header">
            <h2 class="post-title">Director Johan Sebastián Gutiérrez Acosta</h2>
        </div>

        <div class="post-image">
            <img src="/img/SebasFoto.jpeg" class="img-fluid" />
        </div>

        <div class="post-body">

            <p>
                Soy Antropólogo egresado de la Universidad Nacional de Colombia con énfasis en arqueología, gestión y apropiación social del patrimonio.
                Me interesa conocer y entender cómo funcionaba el pasado de los seres humanos y su interacción con el territorio que habitaban,
                cómo transformaban el paisaje y los vestigios que quedaron para la posteridad.
            </p>

            <p>
                Tengo un especial interés en la transmutación de los significados de estos vestigios arqueológicos y la resignificación que tienen
                para las personas que habitan el mundo hoy en día.
            </p>

            <p>
                Me interesan los materiales cerámicos, el arte rupestre, el paisaje y los contextos domésticos.
            </p>

            <h3 class="seccion">Experiencia profesional</h3>

            <ul>
                <li>Participación en el proyecto de arqueología regional del Valle del Río Granates en Saladoblanco, Huila.</li>
                <li>Proyecto etnográfico en el albergue San Vicente en el municipio de Agua de Dios, Cundinamarca.</li>
                <li>Antropólogo adjunto al proyecto de rescate arqueológico UPME-3 en el sitio Nueva Esperanza, Soacha.</li>
                <li>Ganador de beca de estímulos SUARTE 2024 para la elaboración de un informe de investigación de las áreas de conservación San Mateo y Canoas en Soacha, Cundinamarca.</li>
            </ul>

            <h3 class="seccion contacto">Contacto</h3>

            <p><strong>Telefono:</strong> 3123751120</p>
            <p><strong>Correo:</strong> entreaguaypiedra@gmail.com</p>

        </div>

    </article>

</div>